@import url('https://fonts.googleapis.com/css?family=Rubik');


body {
    background: #262836;
    overflow: hidden;
}


.faq {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 170px;
    height: 400px;
    margin: 25px;
    padding: 15px;
    background-size: 100%;
    border-radius: 8px;
    box-shadow: 0 12px 26px rgba(0,0,0,.4);    
    background-size: 125%;
    border-color: #86C0EB;
    border-style: solid;
    margin-top: 160px;
}
.faq-main {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 1030px;
}
.faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.faq-main {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-align: center;
    margin: auto;
    margin-bottom: -70px;
    font-family: 'Rubik';

}
.faq-main-second {
    font-weight: lighter;
    font-size: 12.5px;
    color: white;
    text-align: center;
    margin: auto;
}
.submit{
    color: #000000;
    padding-left: 0px;
    padding: 5px;
    font-size: 15px;
    font-weight: 550;
    width: 130px;
    font-family: 'Rubik';
    background: #86C0EB;
    transition: all 0.3s ease;
    border-radius: 11px;
    border-color: #86C0EB;
    margin-left: 20px;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
  }



section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #262836;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
header .logo {
    position: relative;
    max-width: 80px;
}
header u1 {
    position: relative;
    display: flex;
}
header ul li {
    float: left;
    list-style: none;
}
header ul li a {
   display: inline-block;
   color: #fff;
   font-weight: 400;
   margin-left: 40px;
   text-decoration: none;
}
